<body>
  <div *ngIf="!isAuthenticated">
      <app-auth></app-auth>
    </div>
    <div *ngIf="isAuthenticated">
      <div class="header">
        <div>My Task Board</div>
        <div class="history" (click)="openPanel()">
          <img src="https://img.icons8.com/windows/32/time-machine.png" style="vertical-align: middle;">
          History
        </div>
      </div>
      <app-work-dashboard></app-work-dashboard>
      <div *ngIf="historyPanelState" class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
        <app-history-panel [closePanel]="closePanel.bind(this)"></app-history-panel>
      </div>
    </div>
</body>