<div class="header">
    <div *ngIf="boards.length > 0">
        <ul
            class="absolute z-[1000] float-left m-0 list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
            aria-labelledby="dropdownMenuButton9"
            *ngIf="isDropdownOpen">
            <li *ngFor="let board of boards">
                <div class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-black dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25">
                    <div style="cursor: pointer; display: flex; align-items: center;">
                        <img width="10" height="10" src="https://img.icons8.com/ios-glyphs/30/long-arrow-right.png" alt="long-arrow-right" style="vertical-align: middle; margin-right: 5px;">
                            <span></span>
                    </div>
                </div>                       
            </li>
        </ul>
    </div>
    <div class="history">
      <img src="https://img.icons8.com/windows/32/time-machine.png" style="vertical-align: middle;">
      History
    </div>
</div>
