<div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
        <div class="fixed inset-0 bg-black bg-opacity-25"></div>
        <div class="relative bg-white rounded-lg overflow-hidden max-w-xl p-6" style="width: 50%;">
            <!-- Modal content -->
            <div>
                <div class="text-xl font-semibold mb-4">Add New Card</div>
                <form #form="ngForm">
                    <div class="mb-4">
                        <label class="block text-gray-700 font-semibold mb-2">Name</label>
                        <input type="text" name="name" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" placeholder="Enter name" [(ngModel)]="card.name" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-semibold mb-2">List</label>
                        <div class="mb-4 relative">
                            <div >
                                <button
                                    #dropdownButton
                                    class="flex items-center justify-between rounded bg-neutral-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-600 shadow-light-3 transition duration-150 ease-in-out hover:bg-neutral-200 hover:shadow-light-2 focus:bg-neutral-200 focus:shadow-light-2 focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-light-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                                    type="button"
                                    id="dropdownMenuButton9"
                                    (click)="toggleDropdownForList()"
                                    aria-expanded="false"
                                    data-twe-ripple-init
                                    data-twe-ripple-color="light"
                                    style="width: 100%">
                                    <span>{{ this.singleList?.title }}</span>
                                    <span class="flex items-center">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                            class="w-5 h-5"
                                            style="margin-left: auto;">
                                            <path
                                                fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                                <ul
                                    class="absolute z-[1000] float-left m-0 list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
                                    aria-labelledby="dropdownMenuButton9"
                                    [style.width.px]="dropdownButton.offsetWidth"
                                    *ngIf="isDropdownOpen">
                                    <li *ngFor="let item of otherLists">
                                        <div (click)="selectOtherList(item.id)" class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-black dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25">
                                            <div style="cursor: pointer; display: flex; align-items: center;">
                                                <img width="10" height="10" src="https://img.icons8.com/ios-glyphs/30/long-arrow-right.png" alt="long-arrow-right" style="vertical-align: middle; margin-right: 5px;">
                                                <span>{{ item.title }}</span>
                                            </div>
                                        </div>                       
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex mb-4">
                        <div class="w-1/2 mr-4">
                            <label class="block text-gray-700 font-semibold mb-2">Due Date</label>
                            <input type="date" name="dueDate" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" [(ngModel)]="card.dueDate" [min]="today" required>
                        </div>
                        <div class="w-1/2">
                            <label class="block text-gray-700 font-semibold mb-2">Priority</label>
                            <select name="priority" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" [(ngModel)]="card.priority" required>
                                <option value="{{ Priority.High }}">High</option>
                                <option value="{{ Priority.Medium }}">Medium</option>
                                <option value="{{ Priority.Low }}">Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-semibold mb-2">Description</label>
                        <textarea name="description" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" rows="4" placeholder="Enter description" [(ngModel)]="card.description"></textarea>
                    </div>
                    <div class="flex justify-end">
                        <button type="button" class="px-4 py-2 bg-gray-200 text-gray-800 rounded hover:bg-gray-300 mr-2" (click)="onClose()">Cancel</button>
                        <button type="button" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>